# Binaries and obj folders
bin/
obj/

# Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.sln
*.csproj.user
*.swp

# NuGet packages
packages/

# NuGet local cache
.nuget/packages/*

# Build outputs
*.dll
*.exe

# ASP.NET temporary files
/temp/
/App_Data/

# Publish folder
/publish/

# Configuration files
appsettings.*.json

# Other
[Bb]uild/
[Dd]ebug/
[Rr]elease/
*.pid
*.log
*.DS_Store