<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BohApp</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-book-fill" aria-hidden="true"></span> Verb of the Day
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="search">
                        <span class="bi bi-search" aria-hidden="true"></span> Search Verbs
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="conjugation-quick-reference" Match="NavLinkMatch.All">
                        <span class="oi oi-book" aria-hidden="true"></span> Conjugation Quick Reference
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</header>
