@page "/"
@using ui.Components

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-6 mb-4">
            <VerbOfTheDay />
        </div>
        <div class="col-12 col-xl-6">
            <VerbSearch />
        </div>
    </div>
</div>